<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
    <link rel="stylesheet" th:href="@{/css/demo.css}"/>
</head>
<body>

<p th:text="'Time on server is : ' +  ${theDate}" class="funny"/>
</body>
</html>